In [ ]:
import numpy as np
from datascience import *

# Group

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

#### 1. How many towers are in each city?

In [ ]:
# skip

In [ ]:
#skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
sky.group('city')

#### 2. For each city, what’s the tallest building?

In [ ]:
# skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip
sky.group('city', max)

#### 3. For each city, what’s the tallest building for each material?
(back to slides after asking this question)

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
#skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
sky.group(['city', 'material'], max)

#### 4. For each city, whats the combined hiehgt of all the buildings?

In [ ]:
# skip

#### 5. For each city, whats the combined hiehgt of all the buildings for the different materials?

In [ ]:
# skip answer below

In [ ]:
sky.drop('age').group(['city', 'material'], max)

In [ ]:
sky.drop('age').group(['city', 'material'], sum)

(back to slides)
# Pivot

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.drop('height', 'age').where('city', are.not_equal_to('New York City')).where('city', are.not_equal_to('Las Vegas')).show(10)

#### 1. In every city, how many towers are there of each material?

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
sky.pivot('material', 'city')

#### What just happened?
(back to slides)

In [ ]:
sky.pivot('material', 'city').show(5)

In [ ]:
sky.pivot('material', 'city').num_rows

In [ ]:
#sky.pivot('city', 'material').show(5)

What happens if you run `group()` with these two columns?

*Remember when grouping on multiple columns, we need to pass in a list of column names*

In [ ]:
sky.pivot('material', 'city').show(5)

In [ ]:
sky.group(['material', 'city']).show(5)

In [ ]:
sky.group(['city', 'material']).show(5)

Let's find the skyscrapers only with steel?

In [ ]:
sky.group(['material', 'city']).where('material', are.equal_to('steel')).drop('material')

### Let's find the average height of towers in each city by each material

`tbl.pivot(col1, col2, values, collect)`

In [ ]:
sky.pivot('material', 'city')
sky.labels

In [ ]:
#skip

In [ ]:
# skip

In [ ]:
sky.pivot('material', 'city', 'height', np.average)

### Let's find the max height of towers in each city by each material

In [ ]:
# skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
sky.pivot('material', 'city', 'height', max)

In [ ]:
def max_min_difference(column):
    """
    Find the difference between the maximum value and minimum value of a column
    """
    return max(column) - min(column)

In [ ]:
np.arange(1,100)
max(np.arange(1, 100)) - min(np.arange(1,100)), max_min_difference(np.arange(1,100))

In [ ]:
type(max_min_difference)

In [ ]:
sky.pivot('material', 'city', 'height', max_min_difference)

In [ ]:
atlanta_heights = sky.where('city', 'Atlanta').where('material', 'concrete').column('height')
max(atlanta_heights) - min(atlanta_heights)

In [ ]:
sky.group(['city', 'material']).where('city', 'Austin')

In [ ]:
sky.pivot('city', 'material')

(back to slides)
# Join

In [ ]:
billionaires = Table.read_table('billionaires.csv')
billionaires.show(10)

countries = Table.read_table('countries.csv')
countries.show(10)

### What can we join these two tables on?
In other words, which columns will have similar values?

In [ ]:
# answer below

In [ ]:
#tblA.join(colA, tblB, colB)
billionaires.join('citizenship', countries, 'Country')

In [ ]:
billionaires.num_rows, countries.num_rows, billionaires.join('citizenship', countries, 'Country').num_rows

In [ ]:
countries.join('Country', billionaires, 'citizenship')

##### How many billionaries are in a specific industry and Continent?

In [ ]:
# answer below

In [ ]:
b_and_c = billionaires.join('citizenship', countries, 'Country')
b_and_c

In [ ]:
b_and_c.pivot('Continent', 'industry')

In [ ]:
b_and_c.group(['Continent', 'industry'])

##### What is the average net worth of the billionaries in each specific industry and Continent?

In [ ]:
b_and_c.labels

In [ ]:
# tbl.pivot(col1, col2, values, collect)
b_and_c.pivot('Continent', 'industry', 'net worth', np.average)

##### What is the range of net worths of the billionaries in each specific industry and Continent?

In [ ]:
def range(x):
    return ...

# Comparison

In [ ]:
x = 2
y = 3
x, y

In [ ]:
x > 1

In [ ]:
2 > 1

In [ ]:
x > y

In [ ]:
y >= 3

In [ ]:
x == y

In [ ]:
x != 2

In [ ]:
2 != 2

In [ ]:
2 < x < 5

In [ ]:
-1 * x < -1 * y

### Comparing strings

What do we think `"dog" > "cat"` will return?

In [ ]:
"dog" > "cat"

In [ ]:
"zack" > "adam"

In [ ]:
"cat" < "dog"

Why is this the case?

What about strings that start the same?

In [ ]:
"dogma" > "dog"

### Comparisions to arrays

In [ ]:
range_between_one_twenty = np.arange(1, 20)
range_between_one_twenty

In [ ]:
range_between_one_twenty * 2

In [ ]:
range_between_one_twenty > 2

back to slides

### Combining comparisons

In [ ]:
a = True
b = False
a, b

In [ ]:
a or b

In [ ]:
not a, not b

In [ ]:

#True and (not False)
#True and True
a and not b

In [ ]:
x, y

In [ ]:
x > 2 or y > 2

In [ ]:
x > 2 and y > 2

In [ ]:
not (x > 2 or y > 2)

back to slides
### Aggregating Comparisons

In [ ]:
range_between_one_twenty

In [ ]:
6 % 2 == 0

Lets find the number of values that are even

In [ ]:
# Lets first make a function that tells us if a number is even
def is_even(x):
    """ Converts numbers into bool based on whether the number is even or odd
    """
    return x % 2 == 0

Let's test if this function works:

In [ ]:
is_even(2), is_even(5), is_even(-4)

Now let's apply this function to our array (either make a new table and use `apply` or pass it to our function)

In [ ]:
t = Table().with_columns('number', range_between_one_twenty)
t = t.with_columns('is_even', t.apply(is_even, 'number'))
t

Now how many of these numbers are even?

In [ ]:
sum(t.column('is_even'))

back to slides

# Control Statements

In [ ]:
def sign(x):
    '''
    Returns "positive", "negative", "zero" depending on the value of x
    Adam: only use if's
    '''
    return_string = ""
    ...
    return return_string

In [ ]:
sign(10), sign(-10), sign(0)

### `if`, `elif`, and `else`

In [ ]:
def sign(x):
    '''
    Returns "positive", "negative", "zero" depending on the value of x
    '''

### `abs()`
Now try implementing the `abs()` function

In [ ]:
help(abs)

In [ ]:
def abs(x):
    ...

# Random Selection

In [ ]:
groups = make_array('treatment', 'control')
groups

Let's randomly assign 1 individual to each group

Let's randomly assign 5 individuals to each group

Let's repeat this

Do we see any differences?

So now let's store the outcome

back to slides
# `np.append()`
Manually grow an empty array to [0,...,8] one element at a time

back to slides
# `For` Statements

In [ ]:
for i in np.arange(4):
    print('iteration', i)

Use a for loop to grow the array `t`