## Python Arithmetic ##

In [1]:
4*7

28

In [5]:
(5-10)+(3*5)/2*10/5

10.0

## Names ##

In [6]:
numbers_of_hrs_per_week = 7*24
numbers_of_hrs_per_week

168

In [9]:
numbers_of_hrs_per_week = 7*24

In [10]:
hours_per_year = numbers_of_hrs_per_week*52
hours_per_year

8736

### Why Names?
Lets try determining how much money one earns in PA who earns minimunm wage

The PA Minimum Wage for Employers with a certain number Employees or More is $7.50/hour.

In [12]:
# Option 1
7.5 *40*52

15600.0

In [20]:
# Option 2
pa_hourly_minimum_wage = 15
hours_per_week = 40
weeks_per_year = 52

### How many work  hours are there in a year

In [21]:
hours_per_week * weeks_per_year

2080

In [22]:
work_hours_per_year = hours_per_week * weeks_per_year
work_hours_per_year

2080

### What are the total wages one earns a week in PA?

In [23]:
weekly_wages = pa_hourly_minimum_wage * hours_per_week
weekly_wages

600

### What are the total wages one earns a year in PA?

In [24]:
yearly_wages = work_hours_per_year * pa_hourly_minimum_wage
yearly_wages

31200

## Functions and Call Expressions

In [27]:
max(15,27,5,34)

34

In [ ]:
abs

In [28]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [29]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

<b>abs(x, /)</b>: this is saying that the `abs` method takes in at least one argument, but has the option to take in infintely more arguments as well

In [30]:
max(), abs(), min()

TypeError: max expected at least 1 argument, got 0

We got the error above because we forgot to pass in an argument to max()

In [31]:
min(10,20,-4,9)

-4

In [33]:

# min(10,abs(20),9)
# min(10,20,9) -> 9
min(10,abs(20),max(-4,9))

9

### How do we save the result of a function?

In [34]:
min_numbers = min(10,abs(20),max(-4,9))
min_numbers

9

## Numbers

In [ ]:
9, 0, 9.4, -8
# three integers: 9, 0, -8
# floats: one: 9.4

In [36]:
float_example = 9.765434567876543
float_example

9.765434567876543

In [37]:
float_example = 9.76543456787654343567654567654567654567657656765467865786
float_example

9.765434567876543

### Comparisons

how to check if two names have the same value?

In [39]:
one = 1
two = 1
one, two

(1, 1)

In [41]:
# idea 1: subtract
one - two

0

`==` check if two names have the same value

In [42]:
one == two

True

In [43]:
three = 3

In [44]:
one == three

False

how to check if the value in one name is greater than another: `>`

In [46]:
one > two

False

In [47]:
three > two

True

how to check if the value in one name is greater than or equal to another: `>=`

In [48]:
one >= two

True

In [49]:
one_float = 1.0
one_float

1.0

What happens if we compare `one` with `one_float`?

In [50]:
one_float == one

True

In [51]:
1.1 + 2 # will this be a float or an int?

3.1

In [53]:
type # functio to tell us the type of value

type

In [54]:
type(1.1 + 2)

float

In [55]:
type(1.1 * 8)

float

In [56]:
one == two

True

In [57]:
type(one == two)

bool

## String

In [59]:
type("1.2"), type("100")

(str, str)

In [60]:
float("1.2"), int(100)

(1.2, 100)

In [62]:
type(float("1.2")), type(int(100))

(float, int)

In [61]:
"1.2", "100"

('1.2', '100')

In [63]:
5

5

In [64]:
str(5)

'5'

In [65]:
x = 3
y = '4'
z = '5.6'

In [66]:
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [69]:
y + z, z + y

('45.6', '5.64')

In [67]:
x = 3
y = '4'
z = '5.6'
x + int(y + z)

ValueError: invalid literal for int() with base 10: '45.6'

In [70]:
int("5.7")

ValueError: invalid literal for int() with base 10: '5.7'

In [71]:
float("5.7")

5.7

In [72]:
x = 3
y = '4'
z = '5.6'
str(x) + int(y)

TypeError: can only concatenate str (not "int") to str

In [73]:
x = 3
y = '4'
z = '5.6'
y + float(z)

TypeError: can only concatenate str (not "float") to str

In [74]:
type(help)

_sitebuiltins._Helper

In [75]:
type(min)

builtin_function_or_method

In [76]:
type(max)

builtin_function_or_method

In [77]:
type(str)

type

In [78]:
float(1)

1.0

In [79]:
int(6.77)

6

In [80]:
float("6.77")

6.77

In [81]:
int("6.77")

ValueError: invalid literal for int() with base 10: '6.77'

In [82]:
float("5" + "5.6")

55.6

In [83]:
int("5" + "5.6")
# why not just get 55 as an int
# int(55.6), int("55.6")
# what is different between these two expressions in the line above?

ValueError: invalid literal for int() with base 10: '55.6'

In [84]:
float("1")

1.0

## Tables ##

In [3]:
from datascience import *
# give me access to everything that is in the datascience package

In [88]:
type(min)

builtin_function_or_method

In [5]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [7]:
cones.num_rows, cones.num_columns

(6, 3)

In [1]:
hours_per_week

NameError: name 'hours_per_week' is not defined

In [4]:
Table()

### A more interesting table

In [8]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

rank | name             | position | team                   | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)

In [9]:
nba.num_rows

9456

In [11]:
nba.num_columns

6

**Discussion question**: Create a table of just the point guards in the 2020 season?

**Discussion question**: Can we see the 10 point guards with the highest salaries?

In [2]:
# The line below will cause a value error
# nba.drop('position').where('position', 'PG')