In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Converting Types

In [ ]:
float("one point two")

In [ ]:
# Converting floats to int
int(2.3)

# Tables

In [ ]:
Table().read_table("party_affiliation2016.csv")

**How do we store the table?**

In [ ]:
# skip a few cells

In [ ]:
# skip a few cells

In [ ]:
# skip a few cells

In [ ]:
party_affiliations = Table().read_table("party_affiliation2016.csv")

### How do we find the number of columns in a table?

### How do we find the number of rows in a table?

## Icecream Cones

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
 # look at the top cones show()

In [ ]:
 # look at the top n cones

In [ ]:
 # make a new table with specific columns

In [ ]:
 # Flavor vs "Flavor"

In [ ]:
# get rid of a label

In [ ]:
 # new table with one less label

In [ ]:
 # sort a table

In [ ]:
 # conditions. Say we only want ones that are pink

In [ ]:
 # conditions. say we only want ones that are < $5

# Another Table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

### How many individuals are in this table

In [ ]:
 # where city is ...

In [ ]:
 # where material

In [ ]:
 # where completed

(back to slides)
# Arrays

In [ ]:
 # let's make an array
  # does anyone know how to make an array from the reading?
  # lets make the array be an array of numbers

In [ ]:
 # lets apply different computations to the array

In [ ]:
 # addition

In [ ]:
 # multiplication

In [ ]:
 # square

In [ ]:
  # absolute value

In [ ]:
make_array(1,2,34)

In [ ]:
aa = make_array(1,2,3,4)

In [ ]:
aa * 2

### Array statistics using numpy

In [ ]:
 # np.mean, np.average

In [ ]:
np.abs(aa)

# Ranges

In [ ]:
  #np.arrange(end), np.arrange(start, end), step

# Questions

**Question 1:** Given a file callled `nba_salaries.csv`, how can we load it into a `Table`?

In [ ]:
nba = ..

**Question 2:** What are the columns in our table?

**Question 3**: Create an array containing the names of all centers (C) who make more than $15M/year

*Hint:* break this into two steps

# Visualization

(week 3)

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.scatter('height', 'completed') # scatter, plot needs numbers

In [ ]:
skyscrapers.barh('city')

In [ ]:
skyscrapers.hist('completed')