In [1]:
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Monty Hall Simulation

Lets make an array of what can be behind each door.

In [2]:
goats = make_array('first goat', 'second goat')
hidden_behind_door = np.append(goats, 'car') # Lets add the car 
hidden_behind_door

array(['first goat', 'second goat', 'car'],
      dtype='<U11')

Let's make a choice. We won't choose a door but rather whats behind the door

In [7]:
# answer below
# # Remember np.random.choice
contestant_choice = np.random.choice(hidden_behind_door)
contestant_choice

'car'

Now, lets write a method called `other_goat` based on the documentation below:

In [15]:
def other_goat(a_goat):
    ''' Returns the other goat that wasn't chosen
    if first goat, then return something
    elif second goat, then return something
    '''
    # lets, think, what are the options that `a_goat` can be
    if a_goat == 'first goat':
        return 'second goat'
    elif a_goat == 'second goat':
        return 'first goat'
    return np.random.choice(goats)

Let's test `other_goat()`

In [10]:
other_goat(contestant_choice), contestant_choice

('second goat', 'car')

In [16]:
other_goat('first goat')

'second goat'

In [17]:
other_goat('second goat')

'first goat'

In [14]:
other_goat("car")

'first goat'

<b>What happens next? </b>

<br><br>
Monty (the host) chooses the door to show and we have a remaining door

In [18]:
contestant_choice

'car'

In [19]:
monty_choice = other_goat(contestant_choice)
#remaining_door = 'first goat'
monty_choice

'second goat'

In [18]:
monty_choice = other_goat(contestant_choice)
monty_choice

'second goat'

In [20]:
remaining_door = 'first goat'
remaining_door

'first goat'

But remember, these choices are conditioned on what the contestant chose. 
- If the contestant chose the first goat, what will Monty choose to show and what is in the remaining door?
- If the contestant chose the second goat, what will Monty choose to show and what is in the remaining door?
- If the contestant chose the car, what will Monty choose to show?

 
Lets implement this with a bunch of if/elif statements

In [22]:
# answer below

if contestant_choice == 'first goat':
    monty_choice = other_goat(contestant_choice)
    remaining_door = 'car'
elif contestant_choice == 'second goat':
    monty_choice = other_goat(contestant_choice)
    remaining_door = 'car'
elif contestant_choice == 'car':
    monty_choice = other_goat(contestant_choice)
    remaining_door = other_goat(monty_choice)

In [23]:
contestant_choice, monty_choice, remaining_door

('car', 'second goat', 'first goat')

Let's add this to a function so that we can run many simulations of the game

In [33]:
def monty_hall():
    '''
    Simulates one run of the monty hall game.
    Returns values behind contestant_choice, monty_choice, remaining_door
    '''
    contestant_choice = np.random.choice(hidden_behind_door)
    
    if contestant_choice == 'first goat':
        monty_choice = other_goat(contestant_choice)
        remaining_door = 'car'
    elif contestant_choice == 'second goat':
        monty_choice = other_goat(contestant_choice)
        remaining_door = 'car'
    elif contestant_choice == 'car':
        monty_choice = other_goat(contestant_choice)
        remaining_door = other_goat(monty_choice)


    
    return contestant_choice, monty_choice, remaining_door

Now let's play this game once

In [34]:
monty_hall()

('first goat', 'second goat', 'car')

Let's play it another time

In [35]:
monty_hall()

('first goat', 'second goat', 'car')

#### Let's play this game multiple times
How could we do that based on what we learned in last lecture and what we reviewed earlier today?

In [36]:
for i in np.arange(10):
    print(monty_hall())

('second goat', 'first goat', 'car')
('second goat', 'first goat', 'car')
('car', 'first goat', 'second goat')
('first goat', 'second goat', 'car')
('car', 'first goat', 'second goat')
('second goat', 'first goat', 'car')
('first goat', 'second goat', 'car')
('first goat', 'second goat', 'car')
('car', 'first goat', 'second goat')
('car', 'first goat', 'second goat')

### Simulations

Let's make a table where we will keep simulations
We want to keep track of the original guess, what was revealed, and what is remaining in the other hidden door

In [37]:
games = Table(['Guess', 'Revealed', 'Remaining'])
games

Guess | Revealed | Remaining

Remember that we can add rows it a table using `append`

In [38]:
games.append(monty_hall())

Guess       | Revealed   | Remaining
second goat | first goat | car

In [49]:
games.num_rows

10000

Now lets play the game 10k times and append the results to `games`

In [40]:
for i in np.arange(1e4):
    games.append(monty_hall())

In [41]:
games

Guess       | Revealed    | Remaining
second goat | first goat  | car
car         | second goat | first goat
first goat  | second goat | car
first goat  | second goat | car
car         | first goat  | second goat
first goat  | second goat | car
first goat  | second goat | car
first goat  | second goat | car
first goat  | second goat | car
second goat | first goat  | car
... (9991 rows omitted)

In [42]:
games.num_rows

10001

### How could we see what remains for each guess?
what method dshould we call on the table?

In [43]:
# answer below

games.pivot("Remaining", "Guess")

Guess       | car  | first goat | second goat
car         | 0    | 1639       | 1614
first goat  | 3337 | 0          | 0
second goat | 3411 | 0          | 0

Let's group on the remaining to decide if we should change?

In [7]:
# answer below

In [44]:
games.group("Remaining")

Remaining   | count
car         | 6748
first goat  | 1639
second goat | 1614

From the above, we can see that almost 6 out of 9 times, choosing to switch doors will result in us getting the car.

In [45]:
games

Guess       | Revealed    | Remaining
second goat | first goat  | car
car         | second goat | first goat
first goat  | second goat | car
first goat  | second goat | car
car         | first goat  | second goat
first goat  | second goat | car
first goat  | second goat | car
first goat  | second goat | car
first goat  | second goat | car
second goat | first goat  | car
... (9991 rows omitted)