In [2]:
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Monty Hall Simulation

Lets make an array of what can be behind each door.

In [3]:
goats = make_array('first goat', 'second goat')
hidden_behind_door = np.append(goats, 'car') # Lets add the car

Let's make a choice. We won't choose a door but rather whats behind the door

In [ ]:
# answer below
# # Remember np.random.choice
contestant_choice = ...
contestant_choice

In [10]:
# Remember np.random.choice
contestant_choice = np.random.choice(hidden_behind_door)
contestant_choice

'car'

Now, lets write a method called `other_goat` based on the documentation below:

In [1]:
def other_goat(a_goat):
    ''' Returns the other goat that wasn't chosen
    if first goat, then return something
    elif second goat, then return something
    '''
    # lets, think, what are the options that `a_goat` can be
    ...

Let's test `other_goat()`

In [13]:
other_goat(contestant_choice), contestant_choice

('first goat', 'car')

In [14]:
other_goat('first goat')

'second goat'

In [15]:
other_goat('second goat')

'first goat'

In [16]:
other_goat("car")

'second goat'

<b>What happens next? </b>

<br><br>
Monty (the host) chooses the door to show and we have a remaining door

In [17]:
contestant_choice

'car'

In [ ]:
monty_choice = other_goat(contestant_choice)
remaining_door = 'first goat'

In [18]:
monty_choice = other_goat(contestant_choice)
monty_choice

'second goat'

But remember, these choices are conditioned on what the contestant chose. 
- If the contestant chose the first goat, what will Monty choose to show and what is in the remaining door?
- If the contestant chose the second goat, what will Monty choose to show and what is in the remaining door?
- If the contestant chose the car, what will Monty choose to show?

 
Lets implement this with a bunch of if/elif statements

In [2]:
# answer below

In [20]:
if contestant_choice == 'first goat': # one option for contest's choice
    monty_choice = other_goat(contestant_choice)
    remaining_door = 'car'
elif contestant_choice == 'second goat': # second option for contests's choice
    monty_choice = other_goat(contestant_choice)
    remaining_door = 'car'
elif contestant_choice == 'car': # third option for contestants choice
    monty_choice = other_goat(contestant_choice)
    remaining_door = other_goat(monty_choice)
    
contestant_choice, monty_choice, remaining_door

('car', 'second goat', 'first goat')

Let's add this to a function so that we can run many simulations of the game

In [30]:
def monty_hall():
    '''
    Simulates one run of monty hall.
    Returns values behind contestant_choice, monty_choice, remaining_door
    '''
    ...
    
    return contestant_choice, monty_choice, remaining_door

Now let's play this game once

In [31]:
monty_hall()

('second goat', 'first goat', 'car')

Let's play it another time

In [35]:
monty_hall()

('first goat', 'second goat', 'car')

#### Let's play this game multiple times
How could we do that based on what we learned in last lecture and what we reviewed earlier today?

In [ ]:
# answer below

In [ ]:
# answer below

In [4]:
# answerbelow.

In [38]:
for i in np.arange(1e4):
    monty_hall()

In [36]:
1e4

10000.0

### Simulations

Let's make a table where we will keep simulations
We want to keep track of the original guess, what was revealed, and what is remaining in the other hidden door

In [47]:
games = Table(['Guess', 'Revealed', 'Remaining'])
games

Guess | Revealed | Remaining

Now lets play the game 10k times and append the results to `games`

In [48]:
for i in np.arange(1e4):
    ...

Remember that we can add rows it a table using `append`

In [45]:
games.append(monty_hall())

Guess       | Revealed    | Remaining
second goat | first goat  | car
car         | second goat | first goat
second goat | first goat  | car
car         | second goat | first goat

In [49]:
games.num_rows

10000

In [50]:
games

Guess       | Revealed    | Remaining
second goat | first goat  | car
car         | second goat | first goat
car         | second goat | first goat
car         | second goat | first goat
first goat  | second goat | car
second goat | first goat  | car
first goat  | second goat | car
car         | second goat | first goat
second goat | first goat  | car
first goat  | second goat | car
... (9990 rows omitted)

### How could we see what remains for each guess?
what method dshould we call on the table?

In [6]:
# answer below

In [51]:
games.pivot("Remaining", "Guess")

/opt/conda/lib/python3.8/site-packages/datascience/tables.py:920: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array(tuple(values))

Guess       | car  | first goat | second goat
car         | 0    | 1594       | 1651
first goat  | 3418 | 0          | 0
second goat | 3337 | 0          | 0

Let's group on the remaining to decide if we should change?

In [7]:
# answer below

In [53]:
games.group("Remaining")

Remaining   | count
car         | 6755
first goat  | 1594
second goat | 1651

From the above, we can see that almost 6 out of 9 times, choosing to switch doors will result in us getting the car.