In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Scatter Plots ##

In [ ]:
# Actors and their highest grossing movies
# Read in the table called 'actors.csv'

actors = ...
actors

Which numerical attributes should we check are associated with each other? 
<br><br>
And which visualization should we use to check if two numerical attributes have an associations?

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
actors.where('Average per Movie', are.above(400))

(back to slides)

## Bar Charts ##

In [ ]:
# Highest grossing movies as of 2017
# Read in table called 'top_movies_2017.csv'
top_movies = ...
top_movies

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# Highest grossing movies as of 2017
# Read in table called 'top_movies_2017.csv'
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:
# get the top 10 gross movies

In [ ]:
top10_adjusted = ...
top10_adjusted

In [ ]:
top10_adjusted = top_movies.take(np.arange(10))
top10_adjusted

In [ ]:
# Convert Gross (Adjusted) to millions of dollars for readability
millions = ...
top10_adjusted = ...
top10_adjusted

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# Convert Gross (Adjusted) to millions of dollars for readability
millions = top10_adjusted.column('Gross (Adjusted)') / 1000000
top10_adjusted = top10_adjusted.with_column('Millions', millions)
top10_adjusted

In [ ]:
# plot the top 10 using a horizontal bar graph

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
top10_adjusted.barh('Title', 'Millions')

### How many movies did each studio produce?

In [ ]:
top_movies

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
top_movies.where("Studio", "MGM").num_rows

##### Method 1: Run lots of manual `where` searches

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# print where and then top rows
print(top_movies.where("Studio", "MGM").num_rows)
print(top_movies.where("Studio", "Disney").num_rows)
print(top_movies.where("Studio", "Warner Brothers").num_rows)
print(top_movies.where("Studio", "Universal").num_rows)

##### Method 2: Automatic group by the column

In [ ]:
# skip

In [ ]:
# skip

In [ ]:
# Let's group the table top10_adjusted by the studio
top_movies.group('Studio')

Let's look at all 24 studios

In [ ]:
top_movies.group('Studio').show()

Let's look at the distribution of these studios using a plot

In [ ]:
# Remember barh
top_movies.group('Studio').barh('Studio')

Let's look at the order of the studios? Can we learn anything from this ordering?

In [ ]:
# No code here

So, let's show the distribution but re-ordering the categories based on the number of movies

*Hint: use the column count*

In [ ]:
top_movies.group('Studio').sort('count').barh('Studio')

In [ ]:
# Jump back to slides

# Bins

In [ ]:
top_movies

#### Let's look at ages

In [ ]:
## Compute the ages of the movie (assuming this is from 2017) and add it as a column
age = ...
top_movies = ...
top_movies

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
#skip

In [ ]:
age = 2017 - top_movies.column("Year")
top_movies = top_movies.with_column('age', age)
top_movies

Its a good idea to get a sense of the values in our new column. 

Lets look at the min and max ages

In [ ]:
min(top_movies.column('age')), max(top_movies.column('age'))

In [ ]:
top_movies.where('age', 96)

### Now let's choose our bins, but we care more about recent movies (make later intervals bigger)

In [ ]:
## make an array of our bins
#my_bins = make_array(5, 10, 15, 20, 25, 30, ..., 90) # Add bins here
#my_bins = np.arange(5, 95, 5)
my_bins = make_array(0, 5, 10, 15, 25, 50, 100)
my_bins

In [ ]:
top_movies.bin('age', bins=my_bins)

In [ ]:
top_movies.where('age', are.below(5)).num_rows

In [ ]:
top_movies.where('age', are.between(5, 10)).num_rows

In [ ]:
# back to slides

# Histograms

In [ ]:
top_movies

In [ ]:
top_movies.hist('Year', unit="Year", bins=np.arange(1900, 2000, 10))

**QUESTION:** what is the y-axis here?

In [ ]:
# lets use normed=False
top_movies.hist('Year', unit="Year", bins=np.arange(1900, 2000, 10), normed=False)

In [ ]:
top_movies.hist('age', unit='age', bins=my_bins, normed=False)

In [ ]:
top_movies.hist('age', unit='age', bins=my_bins)

In [ ]:
top_movies.num_rows
(25 / 200) / 5

In [ ]:
2.5 * 5, (25 / 200) * 100

In [ ]:
top_movies.bin('age', bins=my_bins)

In [ ]:
top_movies.hist('age', bins=my_bins)

In [ ]:
## Look at narrow bins now

(jump to slides)
# Functions

In [ ]:
def spread(values):
    spread_val = max(values) - min(values)
    return spread_val

In [ ]:
def f(s):
    return np.round(s / sum(s) * 100, 2)

In [ ]:
f(make_array(1,2,3,4))

In [ ]:
s = make_array(1,2,3,4)
sum(s)

In [ ]:
s / 10

In [ ]:
spread(s)

In [ ]:
abs(-3), abs(4.5)

In [ ]:
#def abs(input_number):
    # BODY THAT CONVERS NUMBER TO ABS number
    # RETURN THAT VALUE

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook()
grader.export("Lecture_6_completed.ipynb", pdf=False)